<h1>Post Name: <%= @post.name %></h1>

<%= @post.content %>

<form method="post" action="/posts/<%= @post.id %>/delete">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>
